@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.maximousblk.now.sh/fonts/JetBrainsMono/woff/JetBrainsMono-Regular.woff")
        format("woff");
}

@font-face {
    font-family: "JetBrains Mono Bold";
    src: url("https://cdn.maximousblk.now.sh/fonts/JetBrainsMono/woff/JetBrainsMono-Bold.woff")
        format("woff");
}

@font-face {
    font-family: "JetBrains Mono Italic";
    src: url("https://cdn.maximousblk.now.sh/fonts/JetBrainsMono/woff/JetBrainsMono-Italic.woff")
        format("woff");
}

html,
button,
input,
select,
textarea {
    color: #f8f8f2;
}

/* -------------- General Styles -------------- */

body {
    background-color: #21222c;
    font-size: 1em;
    font-family: JetBrains Mono, "Courier New", Courier, monospace;
    line-height: 1.8;
    color: #f8f8f2;
    margin: 0;
}

.container {
    margin: 2em auto;
    padding: 0 0 2em 0;
}

section {
    margin: 2em 0 auto;
    padding: 2em;
    border-radius: 1em;
    background-color: #282a36;
    box-shadow: 0 2px 2px 0 rgba(11, 11, 20, 0.14),
        0 3px 1px -2px rgba(11, 11, 20, 0.12), 0 1px 5px 0 rgba(11, 11, 20, 0.2);
}

@media (max-width: 575px) {
    .container {
        margin-top: 0;
    }
    section {
        border-radius: 0;
    }
}

/* -------------- Typography -------------- */

a:link,
a:visited,
a:hover,
a:active {
    color: #ff79c6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    font-family: JetBrains Mono Italic, "Courier New", Courier, monospace;
}

@media (max-width: 575px) {
    h2 {
        font-size: 5vw;
    }
}

h2:after {
    display: block;
    margin: 0.5em auto;
    width: 75%;
    height: 1px;
    background-color: #eee;
    content: "";
}

#latest-version {
    font-size: 1.5em;
}

h3 {
    margin: 3em 0 0 0;
    padding: 12px 18px;
    background-color: #eee;
    color: #222;
    text-indent: 0.2em;
    letter-spacing: 0.2em;
    font-weight: normal;
    font-size: 1.3em;
    border-radius: 0.3em;
    box-shadow: 0 2px 2px 0 rgba(11, 11, 20, 0.14),
        0 3px 1px -2px rgba(11, 11, 20, 0.12), 0 1px 5px 0 rgba(11, 11, 20, 0.2);
}
@media (max-width: 575px) {
    h3 {
        text-align: center;
        border-radius: 0;
    }
}

h4 {
    margin: 1em 0;
    color: #f8f8f2;
    text-indent: 8px;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    text-rendering: optimizeLegibility;
    font-family: JetBrains Mono Bold, "Courier New", Courier, monospace;
}

/* -------------- Modules -------------- */

header {
    position: relative;
    overflow: hidden;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-size: 1.6em;
    font-family: JetBrains Mono, "Courier New", Courier, monospace;
}

#title_image {
    display: block;
    margin: 0 auto;
    height: auto;
    padding: 2em;
    width: 100%;
    max-width: 80%;
    background: none;
}

.download > .github {
    margin-bottom: 1.5em;
}

footer {
    text-align: center;
    font-size: small;
    padding-bottom: 2em;
}

code,
pre {
    padding: 2px 5px;
    border-radius: 2px;
    color: #222;
    background-color: #eee;
    font-size: 0.8em;
    font-family: JetBrains Mono, "Courier New", Courier, monospace;
}

pre {
    padding: 0.5em 1em;
    margin: 1em 0.5em;
}

b,
strong {
    font-family: JetBrains Mono Bold, "Courier New", Courier, monospace;
}

/* -------------- Lists -------------- */

ul {
    padding-left: 8px;
    list-style: none;
    display: table;
}

ol {
    margin-top: 1em;
}

ul ol {
    margin: 0.8em 2em;
    padding: 0 0 0 30px;
}

ul li {
    margin-bottom: 0.5em;
    display: table-row;
}

li span {
    display: table-cell;
    width: 8em;
}
